<h1 class="display-4">My Account</h1>
    <span>Hello! Your email account is: {{player.email}}</span>
    <span>Your name: {{player.name}}</span>
     <div class="text-center mb-2">
          <img src="{{ player.avatarURL }}" class="img-fluid rounded" alt="{{ user.name }}">
    </div>

